*

!.gitignore
!nvim/
!nvim/**/*
!astronvim/
!astronvim/**/*
!wezterm/
!wezterm/**/*
!helix/
!helix/**/*
helix/runtime/grammars
!zellij/
!zellij/**/*
!home_dotfiles/
!home_dotfiles/**/*
!awesome/
!awesome/*/**
